version: '3.8'

#https://docs.docker.com/desktop/networking/#i-want-to-connect-from-a-container-to-a-service-on-the-host
#the special DNS name host.docker.internal which resolves to the internal IP address used by the host
services:
  net-agent:
    hostname: net-agent
    build:
      context: .
      args:
        PROJ_NAME: net-agent
    environment:
      HOST: net-hub
    networks:
      - skynet

  net-hub:
    hostname: net-hub
    build:
      context: .
      args:
        PROJ_NAME: net-hub
    networks:
      - skynet

  net-translator:
    hostname: net-translator
    build:
      context: .
      args:
        PROJ_NAME: net-translator
    networks:
      - skynet

  # https://docs.timescale.com/install/latest/installation-docker/
  # To run container execute command: docker-compose up timescaledb
  # To check that timescaleDB is up execute command: nc -vz localhost 5432
  # Connect to timescaleDB execute command: psql -U postgres -h localhost
  # or you can use https://dbeaver.io/
  timescaledb:
    #    image: timescale/timescaledb-pg14-latest
    image: timescale/timescaledb-ha:pg14-latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=PsWDgxZb
    #    -v /your/data/dir:/home/postgres/pgdata/data \
    networks:
      - skynet

networks:
  skynet:
    driver: bridge
