version: '3.8'

services:
  timescaledb:
    build:
      context: timescaledb
    hostname: timescaledb
    environment:
      - POSTGRES_PASSWORD=PsWDgxZb
    networks:
      - net-net
  
  net-reporter:
    build:
      context: ../
      dockerfile: net-reporter/Dockerfile
    hostname: net-reporter
    networks:
      - net-net
    depends_on:
      - timescaledb

  net-inserter:
    build:
      context: ../
      dockerfile: net-inserter-async/Dockerfile
    hostname: net-inserter
    networks:
      - net-net
    depends_on:
      - timescaledb

  # uncomment to run net-gateway. Correct the path to the context if you need
  # net-gateway:
  #   build:
  #     context: ../../net-gateway
  #     dockerfile: Dockerfile
  #   hostname: net-gateway
  #   ports:
  #     - "8080:8080"
  #   networks:
  #     - net-net
  #   depends_on:
  #     - net-reporter
  #     - net-inserter

networks:
  net-net:
    driver: bridge
    name: net-net