name: Prepare CHANGELOG.md for update

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "*" ]
  

env:
  CARGO_TERM_COLOR: always

jobs:
  prepare-changelog:
    name: prepare-changelog
    
    permissions:
      contents: write
    
    runs-on: ubuntu-latest

    steps:
      - name: Check out
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.OWNER_PAT }}

      - name: Check if CHANGELOG.md has been changed
        run: |
          if [[ $(git diff HEAD HEAD~1 --no-patch --exit-code CHANGELOG.md) ]]; then
            echo "ERROR: Only CHANGELOG.md was modified. This is not allowed."
            exit 1
          fi
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install Python deps
        env:
          REQUIREMENTS: https://raw.github.com/net-stalker/net-registry-index/develop/scripts/requirements.txt
        run: |
          wget $REQUIREMENTS
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Set up GIT credentials
        run: |
          git config --global credential.helper store
          echo "https://${{ secrets.OWNER }}:${{ secrets.OWNER_PAT }}@github.com" > ~/.git-credentials
          git config --global user.email "test@netstalker.io"
          git config --global user.name ${{ secrets.OWNER }}
      
      - name: Get script for changelog prepearing
        env:
          CHANGELOG_PREPARATOR: https://raw.github.com/net-stalker/net-registry-index/develop/scripts/changelog_preparator.py
        run: |
          wget $CHANGELOG_PREPARATOR
          chmod +x changelog_preparator.py

      # - name: Prepare CHANGELOG.md for a new log
      #   env:
      #     CARGO_MANIFEST_DIR: ${{ github.workspace }}
      #   run: |
      #     echo "${{ github.event.head_commit.message }}"
      #     export GIT_MSG="${{ github.event.head_commit.message }}"
      #     export GIT_HASH=$(git rev-parse --short "$GITHUB_SHA")
      #     cat CHANGELOG.md
      #     ./changelog_preparator.py $CARGO_MANIFEST_DIR
      #     cat CHANGELOG.md
      #     git add CHANGELOG.md
      #     git commit -m "$GIT_HASH:$GIT_MSG"
      #     git push

      # - name: Repository Dispatch
      #   uses: peter-evans/repository-dispatch@v2
      #   with:
      #     token: ${{ secrets.OWNER_PAT }}
      #     event-type: prepare-changelog
      #     client-payload: '{"message": "${{ github.event.head_commit.message }}"}'
