# .github/workflows/stage.yml
name: Stage Workflow

on:
  push:
    branches:
      - stage
jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: Run ssh-agent
      run: |
        eval `ssh-agent -s`
        ssh-add ~/.ssh/github
    - name: Update net-timescale
      run: |
        cd /mnt/netstalker-back/net-timescale
        git pull -p
    - name: Rerun docker-compose
      run: |
        cd /mnt/netstalker-back
        docker-compose up --build -d
    - name: Clear docker builder cache
      run: |
        docker builder prune -a -f